body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f8f9fa;
}

.navbar-brand {
    font-weight: bold;
    color: #0d6efd;
}
.form-busqueda{
    max-width: 600px;
    width: 100%;
}
.sidebar {/*BARRA LATERAL*/
    width: 250px;
    position: fixed;
    top: 56px;
    bottom: 0;
    right: -250px;
    z-index: 100;
    padding: 48px 0 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    background-color: #f8f9fa;
    transition: right 0.3s ease-in-out;
}
#sidebar-toggle:checked ~ .sidebar {
    right: 0;
}
.content {
    margin-right: 0;
    transition: margin-right 0.3s ease-in-out;
}
#sidebar-toggle:checked ~ .content {
    margin-right: 250px;
}


/*Esto era para el diseño responsive //NO LO HEMOS VISTO Y YO TAMPOCO*/
@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        right: -100%;
    }
    #sidebar-toggle:checked ~ .sidebar {
        right: 0;
    }
    .content {
        margin-right: 0;
    }
    #sidebar-toggle:checked ~ .content {
        margin-right: 0;
    }
    .search-form {
        max-width: 100%;
        margin-bottom: 1rem;
    }
}
.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh; /* Esto hará que el hero ocupe al menos la altura de la pantalla */
    background-color:#e3f2fd;
}